footer
	width: 100%
	background: black
	padding: 10px
	font-size: 10px
	display: flex
	flex-grow: 0
	flex-shrink: 0
	flex-bias: auto

	span:nth-child(2)
		margin-left: 10px
		width: 100%
		flex: 1

	&, 
	a
		color: $mainColor
